<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Raleway:400,800,700,900,300,100' rel='stylesheet' type='text/css'>
<div class="overlay">
  <div class="wrap">
    <br>
   <h1>Suppression</h1>
<input type="text" placeholder="Nom Produit">
<input type="text"placeholder="Id produit">
    <input type="submit" value="Supprimer">
    <a href="#"><i class="fa fa-question"></i>Forgotten Password</a>
    <a href="#"><i class="fa fa-user"></i>Create an Account</a>
  </div>
</div>

